body {
    position: relative;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
.bg-header {
    background-color: #f5f5f5;
    line-height: 30px;
    padding: 10px 20px 10px 20px;
}
.bg-header:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .5s ease;
}
.slide-fade-leave-active {
    transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(100px);
    opacity: 0;
}
[v-cloak] {
    display: none;
}
.search-box {
    height: 30px;
    width: 100%;
    border: 2px solid darkred;
    position: relative;
}
.clear-search {
    top: -17px;
    right: -13px;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}
.el-table th {
    font-weight: bold;
}
.el-table th td {
    font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
* {
    word-wrap: break-word;
}
#app {
    padding: 10px;
}